{
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "arrowParens": "avoid",
  "organizeImportsSkipDestructiveCodeActions": true,
  "plugins": [
    "prettier-plugin-tailwindcss",
    "prettier-plugin-organize-imports"
  ],
  "tailwindConfig": "./tailwind.config.js"
}
