@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --accent: #ceff9d;
  --background: #000;
  font-size: 16px !important;
}

@layer base {
  * {
    outline: none;
  }

  html {
    -webkit-tap-highlight-color: transparent;
    font-size: 16px;
  }
}

::selection {
  background-color: theme(colors.accent);
  color: theme(colors.background);
}
