@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    outline: none;
  }

  :root {
    --accent: 206 255 157;
    --background: 0 0 0;
  }

  html {
    -webkit-tap-highlight-color: transparent;
    font-size: 16px;
  }
}

::selection {
  background-color: theme(colors.accent);
  color: theme(colors.background);
}
