@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    outline: none;
  }

  html {
    -webkit-tap-highlight-color: transparent;
    font-size: 16px;
  }
}

::selection {
}
